/**
  Project name: VRHouseWeb
  Created by darrencai on 2018/08/10 15:09
  Copyright 2017年 - 2018年 上海亦我信息技术有限公司
**/

#loginPanel {
    /*display: none;*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .75);
}

#loginPanel>span {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    width: 0;
}

#loginPanel>.content {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 30px 40px;
    background-color: rgba(240, 240, 240, .8);
    user-select: none;
}

#loginPanel>.content>.title {
    margin-bottom: 15px;
    font-size: 20px;
}

#loginPanel>.content>.item {
    margin-top: 8px;
    font-size: 16px;
    line-height: 26px;
}

#loginPanel #error {
    display: none;
    color: #ff0000;
    margin-top: 0;
}

#loginPanel>.content>.item>span:first-child {
    float: left;
}

#loginPanel #userName, #loginPanel #pw {
    margin-left: 18px;
    line-height: 20px;
    float: right;
}

#loginPanel>.content>.item:last-child {
    cursor: url(../textures/hand.png), pointer;
    margin-top: 15px;
    width: 100%;
}

#loginPanel>.content>.item>div:last-child {
    clear: both;
}

#mosaicMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
    position: fixed;
    left: 0;
    right: 0;
    color: #fff;
    height: 70px;
    line-height: 70px;
    min-width: 1200px;
    padding: 0 60px 0 30px;
    background: rgba(0, 0, 0, .3);
}

#mosaicMenu>.item>span {
    margin-right: 20px;
    font-size: 14px;
}

#mosaicSize, #mosaicStep {
    cursor: url(../textures/hand.png), pointer;
    -webkit-appearance: none;
    background: linear-gradient(to right, transparent 9px, #ccc 9px 191px, transparent 191px);
    vertical-align: middle;
    margin: 0 0 1px 0;
    width: 200px;
    height: 6px;
}

#mosaicSize::-webkit-slider-thumb, #mosaicStep::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #4a90e2;
    background: #ffffff;
    border-radius: 10px;
    width: 18px;
    height: 18px;
}

#mosaicSize::-moz-range-thumb, #mosaicStep::-moz-range-thumb {
    -webkit-appearance: none;
    border: 1px solid #4a90e2;
    background: #ffffff;
    border-radius: 10px;
    width: 18px;
    height: 18px;
}

#mosaicSize::-ms-thumb, #mosaicStep::-ms-thumb {
    -webkit-appearance: none;
    border: 1px solid #4a90e2;
    background: #ffffff;
    border-radius: 10px;
    width: 18px;
    height: 18px;
}

#mosaicSize:focus, #mosaicStep:focus, #mosaicMenu button:focus {
    outline: none;
}

.decrease {
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    cursor: url(../textures/hand.png), pointer;
}

.decrease:before {
    content: "";
    width: 100%;
    height: 2px;
    background: #fff;
    margin: 0 6px 1px 0;
    display: inline-block;
    vertical-align: middle;
}

.ico-plus {
    margin-left: 6px;
    vertical-align: text-bottom;
    cursor: url(../textures/hand.png), pointer;
}

#mosaicMenu button, #screenShotMenu button {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    padding: 0 15px;
    border-radius: 8px;
    border: none;
    cursor: url(../textures/hand.png), pointer;
}

#clearMosaics, #exitMosaicMode, #exitScreenShot {
    background: #f15151;
}

#saveMosaics, #takeScreenShot {
    background: #4872ff;
    margin-left: 15px;
}

#screenShotMenu {
    display: none;
}

#screenShotMenu>button.type {
    position: fixed;
    top: 10px;
    right: 85px;
    padding: 0 5px;
    background: rgba(0, 0, 0, .4);
    cursor: url(../textures/hand.png), pointer;
}

#screenShotMenu>button.type:not(:first-child) {
    right: 5px;
}

#takeScreenShot {
    position: fixed;
    right: 90px;
    top: 50px;
}

#exitScreenShot {
    position: fixed;
    right: 10px;
    top: 50px;
}

#confirmDownload {
    position: fixed;
    right: 50%;
    bottom: 50%;
    text-align: center;
    transform: translate(50%, 50%);
    background: #fff;
}

#confirmDownload:before {
    content: "";
    z-index: -1;
    position: fixed;
    top: -50vh;
    left: -50vw;
    right: -50vw;
    bottom: -50vh;
    background: rgba(0, 0, 0, .6);
}

#confirmDownload>div {
    height: 30px;
    line-height: 30px;
    text-align: left;
}

#confirmDownload>div>span {
    color: #fff;
    padding: 0 5px;
    height: 28px;
    display: inline-block;
    white-space: nowrap;
    border: 1px solid #fff;
}

#confirmDownload>div>span>br {
    display: none;
}

#confirmDownload>div>i {
    line-height: 30px;
    margin-right: 5px;
    float: right;
}

#confirmDownload>a {
    text-decoration: none;
    color: #fff;
    background: #4872ff;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 4px;
    padding: 5px;
}
